$primary: #022A56;
$primary-light: #91A0FF;
$selected: #3a6fb4; 
$hover: #3a6fb4; 
$btn-hover: #3a6fb4;
$background-color: #fafafa;
$greyish: #6D7175;
$polaris-banner-color: #ebf9fc;
$polaris-banner-border-color: #98c6cd;
$polaris-info-icon-color: #01a0ac;